.circle-spinner
{ 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: 100000;
}   

.circle-spinner .sp-container
{ 
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px; 
  height: 100px;

}   


.circle-spinner .nu-transition-visible
{
  animation-name: nu-fade-in;
  animation-duration: 200ms;
  animation-timing-function: linear;
}

.circle-spinner .nu-transition-invisible
{
  animation-name: nu-fade-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

.circle-spinner .circle
{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(0,0,0,.5);
  transform: translate3d(0,0,0) scale(0);
  animation-duration: 1500ms;
  animation-delay: 0ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

  .circle-spinner .circle.one
  {
    top: 4px;
    left: 25px;
  }
  
  .circle-spinner.nu-visible .circle.one
  {
    animation-name: circle-spinner-one;
  }
  
  .circle-spinner .circle.two
  {
    right: 0px;
    bottom: 3px;
  }
  
  .circle-spinner.nu-visible .circle.two
  {
    animation-name: circle-spinner-one;
    animation-delay: 500ms;
  }
  
  .circle-spinner .circle.three
  {
    left: 0px;
    bottom: 3px;
  }
  
  .circle-spinner.nu-visible .circle.three
  {
    animation-name: circle-spinner-one;
    animation-delay: 1000ms;
  }


@keyframes circle-spinner-one
{
  0%
  {
    transform: translate3d(0,0,0) scale(0);
    opacity: 1;
  }
  66.6%
  {
    /*transform: translate3d(0,0,0) scale(1); opacity: 1;*/
    transform: translate3d(0,0,0) scale(1);
    opacity: 0;
  }
  100%
  {
    transform: translate3d(0,0,0) scale(1);
    opacity: 0;
  }
}

@keyframes circle-spinner-two
{
  0%
  {
    transform: translate3d(0,0,0) scale(1);
    opacity: 1;
  }
  33.299%
  {
    transform: translate3d(0,0,0) scale(.6);
    opacity: 0;
  }
  33.3%
  {
    transform: translate3d(0,0,0) scale(0);
    opacity: 1;
  }
  100%
  {
    transform: translate3d(0,0,0) scale(1);
    opacity: 1;
  }
}

@keyframes circle-spinner-three
{
  0%
  {
    transform: translate3d(0,0,0) scale(.5);
    opacity: 1;
  }
  33.3%
  {
    transform: translate3d(0,0,0) scale(1);
    opacity: 1;
  }
  66%
  {
    transform: translate3d(0,0,0) scale(.6);
    opacity: 0;
  }
  66.001%
  {
    transform: translate3d(0,0,0) scale(0);
    opacity: 1;
  }
  100%
  {
    transform: translate3d(0,0,0) scale(.5);
    opacity: 1;
  }
}