<div class="menu">
  <div
  	nu-action="(click) setpage: blue/slide-out-to-right/slide-in-from-left"
    >
    Show Blue Square Page using click:setpage
  </div>
  <div
  	nu-action="(click) setpage: red/slide-out-to-right/slide-in-from-left"
    >
    Show Red Square Page using call:setpage
  </div>
  <div
  	nu-action="(click) call: clickMenuItem"
    nu-action-params="menu: blue;"
    >
    Show Blue Square Page using click:call
  </div>
  <div
  	nu-action="(click) call: clickMenuItem"
    nu-action-params="menu: red;"
    >
    Show Red Square Page using click:call
  </div>
</div>
